@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

.header, .sub-header {
  font-family: 'Roboto', sans-serif;
  text-align: start; 
}

.header {
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.34rem;
}

.header__welcome-text, .header__secondary-text {
  color: gold;
  font-weight: 300;
}

.header__welcome-text {
  margin-bottom: 1.34rem;
}

.header__secondary-text {
  color: #fff;
}
