.home {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(15em, 1fr) 5fr;
  text-align: initial;
}

.sidebar {
  background-color: hsl(0, 0%, 98%);
  display: grid;
  grid-template-rows: 1fr auto;
}

.sidebar ul * + * {
  border-top: 1px solid hsl(0, 0%, 77%);
}

.sidebar ul li {
  padding: 1rem 1.6rem;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
}

.sidebar ul:last-of-type {
  margin-bottom: 1rem;
}

.main {
  padding: 1.6rem;
  background-color: hsl(0, 0%, 98%);
  overflow-y: scroll;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 2fr;
}

.main > div + div {
  background-color: hsl(0, 0%, 95%);
}

.main .textField {
  display: grid;
}

.main .textField * + * {
  margin-top: 0.5rem;
}

.main .textField input {
  padding: 0.75rem 0.5rem;
  font-size: 0.875rem;
}
