*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(89.94deg, #7491f8 0.03%, #8633f0 99.35%);
  color: #444;
}

.entry {
  color: #f7b731;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin-right: 20px;
}

.image-link-text {
  color: #2f3640;
}

.input-wrapper {
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.url-box {
  font-size: 18px;
  padding: 10px 12px;
  line-height: 1.4;
  width: 50%;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.input-btn {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.4;
  padding: 10px;
  color: #222f3e;
  border-radius: 0 20px 20px 0;
  border: none;
  outline: none;
}

.form-wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 8rem;
  border: 1px solid #57606f;
  border-radius: 6px;
}

.button-wrapper {
  display: block;
  width: 180px;
  margin-left: auto;
}

.signin-button {
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0;
  transition: all 0.3s;
  border-radius: 4px;
}

.signin-button {
  background-color: #444444;
  color: #fff;
}
